.empty-view-container,
.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
