.movie-card-image {
  width: 100%;
  max-width: 230px;
  height: 280px;
  align-self: center;
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #032541;
}

.movie-rating {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #83cca6;
}
li {
  list-style-type: none;
}
.movie-card-container {
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn {
  cursor: pointer;
}
